<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - Raining Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Raining Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Raining.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DB7A6E21A225A7D00DE051B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB7A6FB1A225A7D00DE051B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB7A70F1A2261C200DE051B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB7A7241A2261C200DE051B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
